<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>f4d175</string>
		<key>logo_h</key>
		<string>jinhao_logo_h</string>
		<key>logo</key>
		<string>jinhao_logo</string>
		<key>name</key>
		<string>金豪</string>
	</dict>
	<dict>
		<key>color</key>
		<string> #d7c54e</string>
		<key>logo_h</key>
		<string>jinhao+_logo_h</string>
		<key>logo</key>
		<string>jinhao+_logo</string>
		<key>name</key>
		<string>金豪+</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>jinzhuo_logo_h</string>
		<key>logo</key>
		<string>jinzhuo_logo</string>
		<key>name</key>
		<string>金卓</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>jinzun_logo_h</string>
		<key>logo</key>
		<string>jinzun_logo</string>
		<key>name</key>
		<string>金尊</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>jinjuex_logo_h</string>
		<key>logo</key>
		<string>jinjuex_logo</string>
		<key>name</key>
		<string>金爵X</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>jindian_logo_h</string>
		<key>logo</key>
		<string>jindian_logo</string>
		<key>name</key>
		<string>金典</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>you_logo_h</string>
		<key>logo</key>
		<string>you_logo</string>
		<key>name</key>
		<string>优</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>yi_logo_h</string>
		<key>logo</key>
		<string>yi_logo</string>
		<key>name</key>
		<string>奕</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>li_logo_h</string>
		<key>logo</key>
		<string>li_logo</string>
		<key>name</key>
		<string>丽</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>yun_logo_h</string>
		<key>logo</key>
		<string>yun_logo</string>
		<key>name</key>
		<string>雲</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>yundaban_logo_h</string>
		<key>logo</key>
		<string>yundaban_logo</string>
		<key>name</key>
		<string>雲大班</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>kennidiya_logo_h</string>
		<key>logo</key>
		<string>kennidaya_logo</string>
		<key>name</key>
		<string>基尼迪亚</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>kennidiyasmark_logo_h</string>
		<key>logo</key>
		<string>kennidiyasmark_logo</string>
		<key>name</key>
		<string>基尼迪亚SMART</string>
	</dict>
	<dict>
		<key>logo_h</key>
		<string>e-stool_logo_h</string>
		<key>logo</key>
		<string>e-stool_logo</string>
		<key>name</key>
		<string>e-stool</string>
	</dict>
</array>
</plist>
