<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>e-stool</key>
	<string>9bcfaf</string>
	<key>金尊</key>
	<string>f4d175</string>
	<key>云</key>
	<string>93c6d7</string>
	<key>云大班</key>
	<string>94bcdb</string>
	<key>金豪</key>
	<string>edb494</string>
	<key>金爵</key>
	<string>d3b47f</string>
	<key>奕</key>
	<string>edb0b0</string>
	<key>丽</key>
	<string>a1d1cc</string>
	<key>基尼迪亚</key>
	<string>f5a804</string>
	<key>基尼迪亚SMART</key>
	<string>edb303</string>
	<key>金卓</key>
	<string>c593d4</string>
	<key>优</key>
	<string>c5d94c</string>
	<key>金典</key>
	<string>76bff6</string>
	<key>金豪+</key>
	<string>d7c54e</string>
</dict>
</plist>
